body {
  text-align: center;
  background-color: #f76a62;
}
header {
  background-image: url("../img/pizza-blur.jpeg");
  background-position: 50%, 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 14vw;
  min-height: 70px!important;
  width: 100%;
  position: absolute;
  top: 0;
}

#logo {
  height: 100%;
  float: left;
}

header h1 {
  margin-top: 4vh;
  font-size: 7vw;
  color: #f76a62;
  font-weight: bolder;
  text-shadow: white 1px 0 10px;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0px;
  background-image: url("../img/pizza-blur.jpeg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 50px;
}

footer p {
  color: #f76a62;
  margin-top: 10px;
  font-weight: 600;
  font-size: 10px;
  text-shadow: black 1px 0 10px;
}

.panel {
  background-color: #f76a62;
  color: white;
  position: relative;
  top: 20vw;
  left: 20%;
  width: 60%;
  border: medium dotted white;;
  padding: 40px;
}

.radio-inline {
  font-weight: bolder;
  font-size: 15px;
}

#begin-order {
  background-color: white;
  color: #f76a62;
  margin-top: 40px;
  font-weight: 600;
  width: 20vw;
  font-size: 2vw;
}

#address-panel {
  display: none;
}
